<!DOCTYPE html>
<html>

<head>    
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='img/icons8-книжная-полка-3d-fluency-16.png')}}">
    <link type="image/png" sizes="32x32" rel="icon" href="{{ url_for('static', filename='img/icons8-книжная-полка-3d-fluency-32.png')}}">
    <link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    {% block title -%}
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Проект ОЦО Tele2</title>
    {% endif %}
    {% endblock -%}
</head>

<body>
    {% block content -%}
    {% block mainmenu -%}
    <ul class="mainmenu">
        {% for m in menu -%}
        <li><a href="{{m.url}}">{{m.title}}</a></li>
        {% endfor -%}
    </ul>
    {% endblock mainmenu -%}
    <div class="clear"></div>
    <div class="content">
        {% if title -%}
        <h1>{{ title }}</h1>
        {% else -%}
        <h1>Проект ОЦО Tele2</h1>
        {% endif -%}
        {% endblock -%}
    </div>
</body>

</html>