{% extends 'base.html' %}
 
{% block content %} 
{{ super() }} 
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="{{url_for('take_book')}}" method="post" class="form-take-book">
  <label for="book_code">Пятизначный код книги:</label>
  <input type="text" id="" name="book_code">
  <input type="submit" value="Взять книгу с полки">
</form>
<form action="{{url_for('return_book_post')}}" method="post" class="form-return-book">
  <label for="book_code">Пятизначный код книги:</label>
  <input type="text" id="" name="book_code">
  <input type="submit" value="Вернуть книгу на полку">
</form>
<p><label>Книги, которые сейчас <b>ДОСТУПНЫ</b> на полке:</label></p>
<table>
  <thead>
    <tr>
      <th>Код книги</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Год издания</th>
      <th>Владелец</th>
      <th>Дата добавления</th>
    </tr>
  </thead>
  <tbody>
    {% for book in avl_books %}
    <tr>      
      <td>{{ book.code }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.owner }}</td>
      <td>{{ book.dt_new }}</td>      
    </tr>    
    {% endfor %}
  </tbody>
</table>

<p><label>Книги, которые сейчас <b>ВЫДАНЫ</b>: </label></p>
<table>
  <thead>
    <tr>
      <th>Код книги</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Год издания</th>
      <th>Читатель</th>
      <th>Дата выдачи</th>
      <th>Срок возврата</th>
      <th>Хочу прочитать</th>
    </tr>
  </thead>
  <tbody>
    {% for book in taken_books %}
    <tr>      
      <td>{{ book.code }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.user }}</td>
      <td>{{ book.dt_take }}</td>   
      <td>{{ book.deadline }}</td>
      <td>
        {% if book.user == user %}
        <form method="post" action="{{url_for('lk')}}">
          <input type="submit" value="уже читаю">
        </form>
        {% else %}
        <form method="post" action="/follow_book/{{ book.id }}">
          <input type="submit" value="подписаться">
        </form>
        {% endif %}
      </td>    
    </tr>    
    {% endfor %}
  </tbody>
</table>
{% endblock %}