{% extends 'base.html' %}
 
{% block content %} 
{{ super() }} 
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}

<p><label>.:<b>: ВЗЯТЬ КНИГУ :</b>:.</label></p>
<p><label>Введите 5-значный код, указанный на(в) книге:</label></p>
<form class="form-take-book">
  <label for="book_code"></label>
  <input type="text" id="" name="book_code">
  <input formaction="{{url_for('take_book')}}" formmethod="post" type="submit" value="Взять с полки" />  
</form>
<br>
<p><label>.:<b>: СВОБОДНЫЕ КНИГИ :</b>:.</label></p>
<table>
  <thead>
    <tr>
      <th>Код книги</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Год издания</th>
      <th>Владелец</th>
      <th>Дата добавления</th>
    </tr>
  </thead>
  <tbody>
    {% for book in avl_books %}
    <tr>      
      <td>{{ book.code }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.owner }}</td>
      <td>{{ book.dt_new }}</td>      
    </tr>    
    {% endfor %}
  </tbody>
</table>
<br>
<p><label>.:<b>: ВЫДАННЫЕ КНИГИ :</b>:.</label></p>
<table>
  <thead>
    <tr>
      <th>Код книги</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Год издания</th>
      <th>Читатель</th>
      <th>Дата выдачи</th>
      <th>Срок возврата</th>
      <th>Хочу прочитать</th>
    </tr>
  </thead>
  <tbody>
    {% for book in taken_books %}
    <tr>      
      <td>{{ book.code }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.user }}</td>
      <td>{{ book.dt_take }}</td>   
      <td>{{ book.deadline }}</td>
      <td>
        {% if book.user == user %}
        <form method="post" action="{{ url_for('lk') }}">
          <input type="submit" value="уже читаю">
        </form>
        {% else %}
        <form method="get" action="{{ url_for('subscribe_book', book_id=book.id) }}">
          <input type="submit" value="подписаться">
        </form>
        {% endif %}
      </td>    
    </tr>    
    {% endfor %}
  </tbody>
</table>
{% endblock %}