{% extends 'base.html' %}
 
{% block content %} 
{{ super() }} 
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<p><label>Книги, которые сейчас у меня <b>НА РУКАХ</b>: </label></p>
<table>
  <thead>
    <tr>
      <th>Код книги</th>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Год издания</th>
      <th>Читатель</th>
      <th>Дата выдачи</th>
      <th>Срок возврата</th>
    </tr>
  </thead>
  <tbody>
    {% for book in taken_books %}
    <tr>      
      <td>{{ book.code }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.year }}</td>
      <td>{{ book.user }}</td>
      <td>{{ book.dt_take }}</td>   
      <td>{{ book.deadline }}</td>    
    </tr>    
    {% endfor %}
  </tbody>
</table>
{% endblock %}